/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// archivos secundarios

@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/extras";
@import "components/variables";
@import "components/mixin";
@import "components/extend";


/* media queries tablet */
@media screen and (max-width:950px){
    .productos1 div p{
        font-size: 22px;
    }

}

@media screen and (max-width:850px){

    .img-desktop{
        display: none;
    }

    .productos1{
        display: grid;
    }

    .productos1 div p{
        font-size: 20px;
    }

}



/* media queries mobile */

@media screen and (max-width:700px) {

    main div img {
        height: 35vh;
    }

    p {
        font-size: 12px;
    }

    footer h2 {
        font-size: 16px;
    }

    footer div img {
        height: 32px;
    }

    .productos1{
        display: block;
        text-align: center;
    }

    .productos2{
        display: block;
        text-align: center;
    }

    .img-desktop {
        display: none;
    }

    section {
        font-size: 12px;
    }

    .about-descripcion {
        font-size: 16px;
    }

    .pregunta {
        font-size: 18px;
    }

    .respuesta {
        font-size: 14px;
    }

}

